<!DOCTYPE html>
<html>
<head>
  <title>Reservester2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="owner_nav">
  <% if owner_signed_in? %>
    Signed in as <%= current_owner.email %>. Not you?
    <%= link_to "Sign out", destroy_owner_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_owner_registration_path %> or <%= link_to "sign in", new_owner_session_path %>
  <% end %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
